<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @theme.user %>
</p>

<p>
  <strong>Styling:</strong>
  <%= @theme.styling %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
